In [1]:
import sys
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator
import pandas as pd
import numpy as np
sys.path.append(r'C:\Users\Joar\Documents\1_Education\NTNU\OneDrive - NTNU\Thesis\Modelling\FD Model')
import time
import pickle
from scipy.optimize import minimize

In [2]:
#from OptimizationProblem_headangle import OptimizationProblem
from Design_Exploration import OptimizationProblem
from WindForceSpectrum import WindForceSpectrum
from scipy import interpolate
from plot_hydroD_results import plot_hydroD_results
from FloaterParameters import FloaterParameters
from Environment import Environment
from Buoy import Buoy
from Mass import Mass
from Density import Density
from Area import Area
from GlobalCoordinateSystem import GlobalCoordinateSystem
from SystemMatrices import MatrixCalculation
from WindForceSpectrum import WindForceSpectrum
from scipy import interpolate
from InterpolateHydroDResults import InterpolateResults
from RAO_Calculation import calulate_RAOs
from jonswap import jonswap
from WindSpectrumAnalysis import windspectrumanalysis
from SpectrumStatistics import spectrum_response_statistics
from HydroDInterpolation import LinearInterpolate, Interpolate2d, Interpolate4d

In [3]:
plt.rcParams['axes.grid'] = True
plt.rcParams["figure.figsize"] = (15, 5)
plt.rcParams.update({'font.size': 15})
plt.rcParams['font.family'] = 'serif'

In [4]:
mufp = FloaterParameters(80, 80, 12, 14)
env = Environment()
rho = Density()
csa = Area(mufp)
buoy = Buoy(mufp, csa, rho)
mass = Mass(mufp, csa, buoy, rho)
coord = GlobalCoordinateSystem(mufp, csa, mass, rho, buoy, env)
matrix = MatrixCalculation(coord, mass, mufp, rho, env, csa, buoy)
matrix.stiffness[0, 0] = 1e6
matrix.stiffness[1, 1] = 1e6
matrix.stiffness[5, 5] = 1e9

In [28]:
sa, mpm, rao_wave, rao_wind, stiffness, eig_freq, eig_vec, steel_mass, wind_response, tz_wind, wave_response = OptimizationProblem(40, 40, 13, 16)

C:\Users\Joar\Documents\1_Education\NTNU\OneDrive - NTNU\Thesis\Modelling\FD Model\SpectrumStatistics.py:51: RuntimeWarning: invalid value encountered in true_divide
  Tz[jj, DOF[ii]] = 2 * np.pi * np.sqrt(np.divide(m0[jj, DOF[ii]], m2[jj, DOF[ii]]))

In [29]:
pd.DataFrame(eig_freq)

                    0
0  0.265476+0.000000j
1  0.162708+0.000000j
2  0.510984+0.000000j
3  0.097827+0.000000j
4  0.265537+0.000000j
5  0.273619+0.000000j

In [30]:
pd.DataFrame(eig_vec)

          0         1         2         3         4         5
0  0.999999  0.639083 -0.000016  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000 -0.213584  0.999987 -0.979924
2 -0.000013  0.002184  1.000000  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.000000 -0.976768 -0.001020  0.029181
4  0.001728 -0.769135  0.000024  0.000000  0.000000  0.000000
5  0.000000  0.000000  0.000000 -0.017464 -0.004988 -0.197223

In [14]:
pd.DataFrame(matrix.stiffness)

,0,1,2,3,4,5
0,1000000.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
1,0.0,1000000.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,0.0,0.0,3.410501e+06,0.000000e+00,0.000000e+00,0.000000e+00
3,0.0,0.0,0.000000e+00,2.473918e+09,0.000000e+00,0.000000e+00
4,0.0,0.0,0.000000e+00,0.000000e+00,3.686541e+09,0.000000e+00
5,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+09

In [15]:
pd.DataFrame(matrix.mass)

,0,1,2,3,4,5
0,6.105371e+06,0.000000e+00,0.000000e+00,0.000000e+00,7.166298e+07,0.000000e+00
1,0.000000e+00,6.105371e+06,0.000000e+00,-7.166298e+07,0.000000e+00,0.000000e+00
2,0.000000e+00,0.000000e+00,6.105371e+06,0.000000e+00,0.000000e+00,0.000000e+00
3,0.000000e+00,-7.166298e+07,0.000000e+00,1.326662e+10,0.000000e+00,2.795380e+09
4,7.166298e+07,0.000000e+00,0.000000e+00,0.000000e+00,1.576545e+10,0.000000e+00
5,0.000000e+00,0.000000e+00,0.000000e+00,2.795380e+09,0.000000e+00,1.650699e+10